#bibliographyTitle{
    font-family: 'Passion One', cursive;
    color: white;
    font-size: 30pt;
    -webkit-text-stroke-width: 2px; /*adds outline on text*/
    -webkit-text-stroke-color: #204447; /*chooses outline colour*/
}

p{
    font-size: 12pt;
}

li{
    font-size: 15pt;
}